/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75rem) {
  .right-service {
    width: 100%;
  }
  .image-service {
    display: none;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  /* .feature {
    display: flex;
    flex-wrap: wrap;
  }
  .feature {
    margin-left: auto;
    margin-right: auto;
  } */
  .right-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .s-h {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .s-h h3 {
    width: 100%;
    text-align: center;
  }
  .s-h p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .fas,
  .fa-solid,
  .fa-regular {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 1.5rem;
  }
  .services {
    font-size: 70px;
  }
}
/**************************/
/* BELOW 914px */
/**************************/
@media (max-width: 57.125rem) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/**************************/
/* BELOW 750px */
/**************************/
@media (max-width: 46.875em) {
  .proto-image {
    display: flex;
    flex-wrap: wrap;
  }
  .sh {
    margin-top: 2rem;
    width: 18rem;
    margin-right: 2rem;
  }
  .proto-para {
    font-size: 0.8rem;
  }
  .about-content {
    flex-direction: column;
  }
  .a-c {
    padding-top: 1rem;
  }
  .st-p,
  .nd-p {
    text-align: center;
  }

  .about-img {
    margin-bottom: 5rem;
  }
}

/**************************/
/* BELOW 704px (smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .services,
  .proto-heading {
    font-size: 2.1875rem;
  }
  .proto-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sh {
    margin-top: 2rem;
    width: 100%;
    margin: 1rem auto;
  }
  .proto-para {
    font-size: 0.8rem;
  }
  .h-line {
    display: block;
    margin: 0 auto;
  }
}

/**************************/
/* BELOW  544 PX MOBILES*/
/* ************************ */
@media (max-width: 34em) {
  /* Nav Bar */
  .navigation {
    height: 0.6rem;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .menu-icon {
    height: 1rem;
    width: 1rem;
    top: -2rem;
  }
  .logo-image {
    width: 2.3rem;
  }
  /* HERO */

  .hero-heading {
    font-size: 1.625rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .feature_one,
  .g-d-p,
  .nd-p {
    font-size: 0.75rem;
  }
  /* Service */

  .advice-service {
    font-size: 13px;
    text-align: center;
    margin-top: -10px;
  }
  .fas,
  .fa-solid,
  .fa-regular {
    font-size: 1.6875rem;
  }
  .s-h {
    margin-top: 2rem;
  }
  /* PROTOFOLIO */
  .service .title-service p {
    font-size: 0.8125rem;
    text-align: center;
    margin-top: -10px;
  }
  .proto-img-1,
  .proto-img-2,
  .proto-img-3 {
    margin-bottom: 2rem;
  }
  .proto-para {
    font-size: 9px;
    margin-top: 1rem;
  }

  /* CONTACT */
  .c-heading {
    font-size: 1.5rem;
  }
  .contact-link {
    font-size: 1rem;
  }
  .contact-social {
    font-size: 9px;
  }
  /* FOOTER */
  .footer {
    padding: 1rem;
  }
  .footer p {
    font-size: 12px;
  }
}
